- if @saved_for
  %div.saved
    = "You really know Josh, hunh, <strong>#{@saved_for}</strong>?"


%h1 I Know Josh Stone

%h3
  %a#form_link{:href => '/posts/new'}
    Do you know Josh Stone?

= haml :form, :layout => false, :locals => {:hidden => true}

- @posts.each do |post|
  .post
    .post-whotheyare
      %strong.whotheyare
        = post[:whotheyare]
      knows Josh:
    .howtheyknowhim
      = post[:howtheyknowhim]